doctype html
html.loading(lang='en', data-textdirection='ltr')
  // Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/login-with-bg-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Mar 2018 08:04:05 GMT
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description', content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
    meta(name='keywords', content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
    meta(name='author', content='PIXINVENT')
    title MaGulang
    link(rel='apple-touch-icon', href='/assets/images/ico/apple-icon-120.png')
    link(rel='shortcut icon', type='image/x-icon', href='https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700', rel='stylesheet')
    // BEGIN VENDOR CSS
    link(rel='stylesheet', type='text/css', href='/assets/css/vendors.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/vendors/css/forms/icheck/icheck.css')
    link(rel='stylesheet', type='text/css', href='/assets/vendors/css/forms/icheck/custom.css')
    // END VENDOR CSS
    // BEGIN MODERN CSS
    link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
    // END MODERN CSS
    // BEGIN Page Level CSS
    link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/vertical-menu-modern.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/pages/login-register.min.css')
    // END Page Level CSS
    // BEGIN Custom CSS
    link(rel='stylesheet', type='text/css', href='/assets/css/style.css')
    // END Custom CSS
  body.vertical-layout.vertical-menu-modern.1-column.bg-full-screen-image.menu-expanded.blank-page.blank-page(data-open='click', data-menu='vertical-menu-modern', data-col='1-column')
    //MODALS
                            
    .app-content.content
      .content-wrapper
        .content-header.row
        .content-body
          section.flexbox-container
            .col-12.d-flex.align-items-center.justify-content-center
              .col-md-4.col-10.box-shadow-2.p-0
                .card.border-grey.border-lighten-3.px-1.py-1.m-0
                  .card-header.border-0
                    .card-title.text-center
                      img(src='/assets/images/logo/logo-dark.png', alt='branding logo')
                    h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2
                      span Login
                  .card-content
                    .card-body
                        fieldset.form-group.position-relative.has-icon-left
                          input#username.form-control(type='text', placeholder='Your Username', required='')
                          .form-control-position
                            i.ft-user
                        fieldset.form-group.position-relative.has-icon-left
                          input#userpassword.form-control(type='password', placeholder='Enter Password', required='')
                          .form-control-position
                            i.ft-key
                        .form-group.row
                          .col-md-6.col-12.text-center.text-sm-left
                            p &nbsp;
                          .col-md-6.col-12.float-sm-left.text-center.text-sm-right
                            a.card-link(href='recover-password.html') Forgot Password?
                        button#loginButton.btn.btn-outline-info.btn-block(type='button')
                          i.ft-unlock
                          |  Login
                    p.card-subtitle.line-on-side.text-muted.text-center.font-small-3.mx-2.my-1
                      span New to MaGulang?
                    .card-body
                      button#registerButton.btn.btn-outline-danger.btn-block
                        i.ft-user
                        |  Register
    // ////////////////////////////////////////////////////////////////////////////
    // BEGIN VENDOR JS
    script(src='/assets/vendors/js/vendors.min.js', type='text/javascript')
    // BEGIN VENDOR JS
    // BEGIN PAGE VENDOR JS
    script(src='/assets/vendors/js/forms/validation/jqBootstrapValidation.js', type='text/javascript')
    script(src='/assets/vendors/js/forms/icheck/icheck.min.js', type='text/javascript')
    // END PAGE VENDOR JS
    // BEGIN MODERN JS
    script(src='/assets/js/core/app-menu.min.js', type='text/javascript')
    script(src='/assets/js/core/app.min.js', type='text/javascript')
    // END MODERN JS
    // BEGIN PAGE LEVEL JS
    script(src='/assets/js/scripts/forms/form-login-register.min.js', type='text/javascript')
    // END PAGE LEVEL JS
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on('click', '#registerButton', function(){
                $('#registerModal').modal('show')
            })
            $(document).on('click', '#loginButton', function(){
                $.post('/index/login/anak',{
                  username:$('#username').val(),
                  userpassword:$('#userpassword').val()
                }).done(data=>{
                  if(data.valid){
                    location.href='/index/anak'
                    console.log("LOGGED IN")
                  }
                  else{
                    location.href='/index/anak'
                    console.log("LOGGED IN")
                  }
                })
            })
        })
    
